<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao" class="iproject.project.dao.impl.BookDaoImpl" lazy-init="true"/>
    <!--BeanFactory初始化加载bean是延迟加载，ApplicationContext初始化加载bean是立即加载，即在创建接口对象就加载bean的构造方法-->

</beans>